ul {
  list-style-type: none;
  border-top: solid 1px #f08080;
  border-bottom: solid 1px #f08080;
  padding: 8px 0px 8px 0px;
  margin-right: 40px;
}

li {
  display: inline;
}

li a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-right: 16px;
}

li a:active {
  color: #add8e6;
  background-color: #ffffff;
}

a {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

a:link {
  color: #f08080;
  text-decoration: none;
}

a:visited {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #e73232;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  background-color: #ea4848;
  text-decoration: none;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 38px;
  color: #f08080;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #f08080;
}

article {
  padding-top: 12px;
}

p {
  font-family: 'Halant', serif;
  font-weight: 300;
  font-size: 14px;
  color: #363636;
}

footer {
  display: block;
  font-family: 'Halant', serif;
  font-weight: 300;
  font-size: 10px;
  color: #696969;
  margin-top: 48px;
}

.fa-fa-chevron-circle-right {
  color: #f08080;
}

.box {
  height: 500px;
  border-top: 3px solid #f08080;
}

.container {
  display: flex;
  padding-top: 36px;
  height: 575px;
  width: 75%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
