.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  padding-top: 36px;
  width: 75%;
  height: 575px;
  justify-content: space-between;
}

.project-box {
  height: 500px;
  border-top: 2px solid #f08080;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 100%;
}

footer {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 10px;
  color: #696969;
  transition: text-shadow 0.5s ease;
  transition: font-weight 0.5s ease;
}

ul {
  list-style-type: none;
  border-top: dotted 1px #f08080;
  border-bottom: dotted 1px #f08080;
  padding: 8px 0px 8px 0px;
}

li {
  display: inline;
}

li a {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding-right: 16px;
}

li a:active {
  color: #add8e6;
  background-color: #ffffff;
}

a {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

a:link {
  color: #f08080;
  text-decoration: none;
}

a:visited {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #e73232;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  background-color: #ea4848;
  text-decoration: none;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 38px;
  color: #f08080;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #f08080;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #363636;
}

.fa-fa-chevron-circle-right {
  color: #f08080;
}


img {
  transition: opacity 0.5s;
}

img:hover {
  opacity: 0.4;
  /* For opacity, use a value between 0.0 & 1.0 */
}

section {
  transition: box-shadow 0.5s;
}

section:hover {
  box-shadow: 6px 6px 5px 1px #fad1d1;
  /* offset-x, offest-y, blur-radius, spread-radius; color */
}

i {
  transition: transform 0.5s;
}

i:hover {
  transform: rotate(0.25turn);
}

footer:hover {
  text-shadow: 3px 3px 1px #fad1d1;
  /* offset-x, ofset-y, blur-radius, color (spread radius not available?) */
  font-weight: bolder;
}

form {
  border: 1px solid #ccc;
  padding: 30px;
  margin: 60px 0px 40px 0px;
  max-width: 60%;
}

input, select, textarea, label, legend {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 12px;
  box-sizing: border-box;
  display: block;
}

input {
  border: none;
  background-color: #f2f2f2;
  margin: 6px 0px 20px 0px;
  padding: 4px;
  width: 65%;
}

fieldset {
  border: none;
  margin: 18px 0px 0px -14px;
}

fieldset input {
  display: inline;
}

legend {
  margin-bottom: 12px;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-left: 6px;
  margin-bottom: -6px;
}

input[type=submit] {
  padding: 6px;
  margin-top: 10px;
  width: 60px;
  background-color: #f08080;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
}

input[type=submit]:hover {
  background-color: #e73232;
}

input[type=submit]:active {
  background-color: #add8e6;
}

textarea {
  margin-top: 60px;
  padding: 12px;
  border: none;
  max-width: 90%;
  background-color: #f2f2f2;
}

select {
  margin: 10px 0px 30px 0px;
}

.contact-info {
  padding-bottom: 20px;
}

.questions {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 20px;
}

.questions label {
  margin-top: 18px;
}
