ul {
  list-style-type: none;
  border-top: solid 1px #f08080;
  border-bottom: solid 1px #f08080;
  padding: 8px 0px 8px 0px;
  margin-right: 40px;
}

li {
  display: inline;
}

li a {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 12px;
  padding-right: 16px;
}

li a:active {
  color: #add8e6;
  background-color: #ffffff;
}

article {
  padding-top: 24px;
}

h1 {
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 32px;
  color: #f08080;
}

h2 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: lighter;
  color: #f08080;
  padding-top: 24px;
}

p {
  font-family: Georgia;
  font-size: 14px;
  color: #363636;
  margin-right: 400px;
}

a {
  font-family: Georgia;
  font-weight: bold;
  font-size: 14px;
}

a:link {
  color: #f08080;
  text-decoration: none;
}

a:visited {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #e73232;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  background-color: #ea4848;
  text-decoration: none;
}

footer {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 10px;
  color: #696969;
  margin-top: 48px;
}
